* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color:  #EEEEEE;
	font-family: 'Sen', sans-serif;
	overflow-x: hidden;
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: auto;
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 16px;
}

header h1 {
	font-size: 48px;
	margin-bottom: -5px;
}

header h2 {
	font-size: 32px;
}

.main-title {
	margin-bottom: 4px;
}

header h3 {
	font-size: 24px;
	color:#005eff;
}

#degree-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font: bold 22px Sen, sans-serif;
}

.all-filters {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.filter-container {
	margin: 0 4px;
}

select {
	font: bold 18px Sen, sans-serif;
	width: auto;
}
  
select:focus {
	outline: none;
}

.filter {
	margin: 6px;
	padding: 4px;
	min-width: 200px;
}

#toolbar-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: auto;
	height: 40px;
	margin-left: 4px;
	font: normal 16px Sen, sans-serif;
}

.toolbar-element {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 8px;
	opacity: 0.7;
	transition: 0.2s ease;
}

.toolbar-element:hover {
	opacity: 0.9;
	cursor: pointer;
}

#refresh-symbol {
	height: 20px;
	width: 24px;
	margin: 6px;
}

#export-symbol {
	height: 24px;
	width: 24px;
	margin: 6px;
}

#import-symbol {
	height: 28px;
	width: 28px;
	margin: 6px;
	margin-bottom: 4px;
}


.class-lists {
	display: flex;
	flex-direction: row;
	width: 66vw;
	height: 22vh;
	min-height: 120px;
	align-items: center;
	justify-content: center;
	padding-bottom: 10px;
}

.schedule-lists {
	display: flex;
	flex-direction: row;
	width: 66vw;
	height: auto;
	align-items: center;
	justify-content: center;
}

.list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	overflow-x: hidden;
	overflow-y: auto;
	width: 34%;
	height: inherit;
	border: 5px solid rgba(253, 253, 253, 100);
	border-radius: 10px;
	background-color: rgba(253, 253, 253, 100);
	margin: 0 16px;
	padding: 0px 4px;
	transition: all 0.2s linear;
}

.list::-webkit-scrollbar {
	width: 3px;
}

.list::-webkit-scrollbar-track {
	border-radius: 100px;
}

.list::-webkit-scrollbar-thumb {
	background: rgb(195, 195, 195);
	border-radius: 20px;
}

.schedule-lists .list {
	height: 155px;
	margin-bottom: 5px;
}

.list .list-item {
	font-family: 'Roboto', sans-serif;
	background-color: rgba(0, 0, 0, 0.06);
	border-radius: 10px;
	padding: 4px 4px;
	text-align: center;
	margin: 1px 0px;
	transition: 0.2s ease;
}

.list .list-item:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.12);
}

.list .list-item:active {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.16);
}

.titles {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 66vw;
	height: auto;
}

.smallTitle {
	text-align: center;
	width: 100%;
	height: auto;
	padding: 10px;
	padding-top: 4px;
	transition: all 0.2s linear;
	align-items: center;
}

#file {
	visibility: hidden;
}

@media (max-width: 1408px) {
	.class-lists {
		width: 80vw;
	}
	.schedule-lists {
		width: 80vw;
	}
	.titles {
		width: 80vw;
	}
}

@media (max-width: 1156px) {
	.all-filters {
		flex-direction: column;
	}
	#filter-container {
		flex-direction: column;
	}
}

@media (max-width: 580px) {
	.class-lists {
		width: 100vw;
	}
	.schedule-lists {
		width: 100vw;
	}
	.titles {
		width: 100vw;
	}
	.list {
		margin: 0 8px;
	}
}