* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

textarea:focus, input:focus{
	outline: none;
	border: 1px solid #BBBBBB;
}

input {
	border: 1px solid #DDDDDD;
}

body {
	background-color:  rgb(255, 255, 255);
	font-family: 'Sen', sans-serif;
	overflow-x: hidden;
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: auto;
	height: auto;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 16px;
}

header h1 {
	font-size: 48px;
	margin-bottom: -5px;
}

header h2 {
	font-size: 24px;
}

header h3 {
	font-size: 24px;
	color:#005eff;
}

#degree-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font: bold 22px Sen, sans-serif;
}

.all-filters {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.filter-container {
	margin: 0 4px;
}

select {
	font: bold 18px Sen, sans-serif;
	width: auto;
}
  
select:focus {
	outline: none;
}

.filter {
	margin: 6px;
	padding: 4px;
	width: 250px;
}

#toolbar-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: auto;
	height: 40px;
	margin: 4px;
	font: normal 16px Sen, sans-serif;
}

.toolbar-element {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 40px;
	margin: 8px 2px;
	opacity: 0.7;
	transition: 0.1s ease;
}

.toolbar-element:hover {
	opacity: 0.9;
	cursor: pointer;
}

.toolbar-element:active {
	transform: scale(0.97)
}

.toolbar-text {
	margin-right: 6px;
}

#refresh-symbol {
	height: 20px;
	width: 24px;
	margin: 6px;
}

#export-symbol {
	height: 24px;
	width: 24px;
	margin: 6px;
}

#import-symbol {
	height: 28px;
	width: 28px;
	margin: 6px 6px 4px 3px;
}

#image-symbol {
	height: 26px;
	width: 23px;
	margin: 6px;
}

.error-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 8px 8px;
	background-color: rgb(251, 195, 195);
	border: 1px solid rgb(226, 129, 129);
	font-family: 'Arial', FontAwesome, sans-serif;
	color: red;
	border-radius: 2px;
	width: 66vw;
}

#error-exit:hover {
	cursor: pointer;
}

#error-container {
	display: none;
}

.main-container {
	margin: 16px 0;
	background-color: #eeeeee;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 66vw;
	padding-bottom: 16px;
	box-shadow: 0px 2px 8px 2px #ccc;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.main-title {
	display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	width: 100%;
    background-color: rgb(77, 87, 97);
    color: white;
    padding: 6px 18px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.titles {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	padding: 12px 0px 4px 0px;
}

.smallTitle {
	text-align: center;
	width: 100%;
	height: auto;
	padding: 4px;
	transition: all 0.2s linear;
	align-items: center;
}


.class-lists {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 22vh;
	min-height: 120px;
	align-items: center;
	justify-content: center;
}

.list-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 34%;
	height: inherit;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0 16px;
	padding: 2px 0px;
	border-radius: 8px;
	background-color: rgba(222, 222, 222, 100);
}

.list-searchbar {
	position: -webkit-sticky;
	position: sticky;
	top: 6px;
	font-family: 'Roboto', FontAwesome, sans-serif;
	font-size: 14px;
	border-radius: 10px;
	padding: 4px 6px;
	margin: 4px 10px 4px 10px;
	width: 94%;
	z-index: 2;
}

.addclass-container {
	position: -webkit-sticky;
	position: sticky;
	top: 6px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-family: 'Roboto', FontAwesome, sans-serif;
	font-size: 14px;
	border-radius: 10px;
	padding: 2px 6px;
	margin: 4px 10px 4px 10px;
	width: 94%;
	background-color: white;
	z-index: 2;
}

.input-addclass {
	outline: none;
	border: none;
	width: 80%;
	padding: 0 2px;
}

.input-addclass:focus + .plus-icon {
	color: green;
}

.plus-icon {
	opacity: 0.5;
	font-size: 18px;
	padding: 0px 2px;
	color: #555555;
	transition: opacity 0.2s ease-in;
	transition: color 0.2s ease-in;
}

.plus-icon:hover {
	opacity: 0.7;
	color: green;
	cursor: pointer;
}

.plus-icon:active {
	opacity: 0.7;
	cursor: pointer;
	color: green;
	transform: scale(0.98);
}

.input-addclass:focus {
	border: none;
}

.removeclass {
	display: none;
	position: -webkit-sticky;
	position: sticky;
	top: 6px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 1000;
	letter-spacing: 0.1em;
	color: white;
	border-radius: 10px;
	padding: 4px 6px;
	margin: 4px 10px 4px 10px;
	width: 94%;
	background-color: #ff6e6e;
	z-index: 2;
	transition: background-color 0.2s ease;
}

.removeclass:hover {
	background-color: #f74c4c;
	cursor: pointer;
}

.removeclass:active {
	transform: scale(0.98);
}

.list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: inherit;
	border: 2px solid rgba(222, 222, 222, 100);
	border-radius: 10px;
	background-color: rgba(222, 222, 222, 100);
	padding: 0px 4px;
	margin: 4px 2px;
	transition: background-color 0.2s linear;
	z-index: 1;
}

.list::-webkit-scrollbar {
	width: 3px;
}

.list::-webkit-scrollbar-track {
	border-radius: 100px;
}

.list::-webkit-scrollbar-thumb {
	background: rgb(195, 195, 195);
	border-radius: 20px;
}

.list[drop-active=true] {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.12);
}

.list[drop-active=false] {
	cursor: not-allowed;
	background-color: rgb(255, 196, 196);
}

.list[click-active=true]:hover {
	cursor: pointer;
	background-color: rgb(194, 194, 194);
}

.list[click-active=false]:hover {
	cursor: not-allowed;
	background-color: rgb(255, 196, 196);
}

.list[click-active=true] {
	border: 2px dashed rgba(0, 0, 0, 0.4);
}

.list .list-item {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.06);
	border-radius: 10px;
	border: 1px solid rgb(190, 190, 190);
	padding: 4px 4px;
	text-align: center;
	margin: 1px 0px;
	transition: 0.1s ease;
	z-index: 1;
	transition: background-color 0.2s ease;
}

.list .list-item:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.12);
}

.list .list-item:active {
	cursor: pointer;
	transform: scale(0.98);
}

.list[click-active=false] .list-item:hover {
	cursor: not-allowed;
}

.list-item.lowerDivs {
	background-color: rgba(206, 254, 208, 1);
}

.list-item.upperDivs {
	background-color: rgba(206, 239, 254, 1);
}

.list-item.breadths {
	background-color: rgb(254, 248, 168);
}

.list-item.minorCourses {
	background-color: rgba(255, 194, 255, 0.7);
}

.list-item.addedClass {
	background-color:rgb(255, 223, 166)
}

.list-item.lowerDivs:hover {
	background-color: rgba(152, 236, 156, 0.7);
}

.list-item.upperDivs:hover {
	background-color: rgba(151, 208, 235, 0.6);
}

.list-item.breadths:hover {
	background-color: rgba(235, 226, 107, 0.8);
}

.list-item.minorCourses:hover {
	background-color: rgba(231, 176, 231, 0.7);
}

.list-item.addedClass:hover {
	background-color:rgb(245, 212, 155)
}

.list .list-item.lowerDivs.clicked {
	background-color: rgba(150, 226, 154, 0.8);
}

.list .list-item.upperDivs.clicked {
	background-color: rgba(148, 199, 223, 0.7);
}

.list .list-item.breadths.clicked {
	background-color: rgba(224, 216, 104, 0.8);
}

.list .list-item.minorCourses.clicked {
	background-color: rgba(226, 164, 226, 0.7);
}

.list .list-item.addedClass.clicked {
	background-color:rgb(238, 204, 146)
}

.list[click-active=true] .list-item.lowerDivs:hover {
	background-color: rgba(206, 254, 208, 1);
}

.list[click-active=true] .list-item.upperDivs:hover {
	background-color: rgba(206, 239, 254, 1);
}

.list[click-active=true] .list-item.breadths:hover {
	background-color: rgb(254, 248, 168);
}

.list[click-active=true] .list-item.minorCourses:hover {
	background-color: rgba(255, 194, 255, 0.7);
}

.list[click-active=false] .list-item.lowerDivs:hover {
	background-color: rgba(206, 254, 208, 1);
}

.list[click-active=false] .list-item.upperDivs:hover {
	background-color: rgba(206, 239, 254, 1);
}

.list[click-active=false] .list-item.breadths:hover {
	background-color: rgb(254, 248, 168);
}

.list[click-active=false] .list-item.minorCourses:hover {
	background-color: rgba(255, 194, 255, 0.7);
}

#schedule-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.underline {
	height: 2px;
	background-color:rgba(0, 0, 0, 0.3);
	width: 90%;
	margin-top: -8px;
	margin-bottom: 8px;
}

.schedule-lists {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
	align-items: center;
	justify-content: center;
}

.schedule-lists .list {
	height: 155px;
	margin-bottom: 5px;
}

#file {
	visibility: hidden;
}

@media (max-width: 1408px) {
	.main-container {
		width: 80vw;
	}
	#error-container {
		width: 80vw;
	}
}

@media (max-width: 1156px) {
	.all-filters {
		flex-direction: column;
	}
	#filter-container {
		flex-direction: column;
	}
	.list-container {
		margin: 0 12px;
	}
}

@media (max-width: 820px) {
	#error-container {
		width: 94vw;
	}
	.main-container {
		width: 94vw;
	}
	.list-container {
		margin: 0 8px;
	}
	header h1 {
		font-size: 36px;
	}
	header h2 {
		font-size: 20px;
	}
	header h3 {
		font-size: 20px;
	}
	#degree-container {
		font: bold 16px Sen, sans-serif; 
	}
	select {
		font: bold 14px Sen, sans-serif;
	}
	.filter {
		width: 200px;
	}
	#refresh-symbol {
		height: 18px;
		width: 22px;
		margin: 4px;
	}
	#export-symbol {
		height: 22px;
		width: 22px;
		margin: 4px;
	}
	#import-symbol {
		height: 26px;
		width: 26px;
		margin: 4px 4px 4px 3px;
	}
	#image-symbol {
		height: 24px;
		width: 21px;
		margin: 4px;
	}
	.toolbar-text {
		font-size: 14px;
	}
	.smallTitle {
		font-size: 16px;
	}
	.list-searchbar {
		font-size: 14px;
	}
	.list-item {
		font-size: 14px;
		overflow-wrap: anywhere;
	}
}

@media (max-height: 600px) {
	.class-lists {
		height: 160px;
	}
	
}