* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color:  #EEEEEE;
	font-family: 'Sen', sans-serif;
	overflow-x: hidden;
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 16px;
}

header h1 {
	font-size: 48px;
}

header h2 {
	font-size: 32px;
}

header h3 {
	font-size: 24px;
	color:#005eff;
}

#degree-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	font: bold 22px Sen, sans-serif;
}

#degree-container img {
	height: 20px;
	width: 24px;
	margin-bottom: -4px;
	margin-left: 8px;
}

select {
	font: bold 18px Sen, sans-serif;
	width: auto;
}
  
select:focus {
	outline: none;
}

#major-dropdown {
	margin: 6px;
	padding: 4px;
}


.class-lists {
	display: flex;
	flex-direction: row;
	width: auto;
	height: 24vh;
	min-height: 120px;
	align-items: center;
	justify-content: center;
	padding-bottom: 12px;
}

.schedule-lists {
	display: flex;
	flex: 1;
	width: auto;
	height: auto;
	align-items: center;
	justify-content: center;
}

.list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	overflow: auto;
	width: 100%;
	min-width: 20vw;
	max-width: 350px;
	height: inherit;
	border: 5px solid rgba(253, 253, 253, 100);
	border-radius: 10px;
	background-color: rgba(253, 253, 253, 100);
	margin: 0 16px;
	padding: 4px 4px;
	transition: all 0.2s linear;
}

.schedule-lists .list {
	height: 120px;
}

.list .list-item {
	font-family: 'Roboto', sans-serif;
	background-color: #EEEEEE;
	color:  black;
	border-radius: 10px;
	padding: 4px 4px;
	text-align: center;
	margin: 1px 0px;
}

.titles {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 40px;
}

.titles .smallTitle {
	display: flex;
	flex-flow: column;
	flex: 1;
	width: 100%;
	min-width: 20vw;
	max-width: 350px;
	height: 100%;
	min-height: 40px;
	margin: 0 16px;
	padding: 8px;
	transition: all 0.2s linear;
	align-items: center;
}